# {{ error_code }} Details

## Message emitted:

`{{ error_code }}: {{ error.error_message }}`

## Description:

{{ error.description }}

## Troubleshooting:

{{ error.troubleshooting }}

Troubleshooting that is coming soon.

## Recommendation:

{{ error.recommendation }}
