---
dev_addr: "127.0.0.1:8001"
site_name: "Nornir Nautobot Documentation"
edit_uri: "edit/develop/docs"
site_url: "https://docs.nautobot.com/projects/nornir-nautobot/en/latest/"
repo_url: "https://github.com/nautobot/nornir-nautobot"
copyright: "Copyright &copy; Network To Code"
theme:
  name: "material"
  navigation_depth: 4
  hljs_languages:
    - "django"
    - "yaml"
  features:
    - "navigation.tracking"
    - "navigation.tabs"
    - "navigation.tabs.sticky"
    - "navigation.indexes"
    - "search.suggest"
    - "search.highlight"
    - "search.share"
  favicon: "assets/favicon.ico"
  logo: "assets/nautobot_logo.svg"
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: "default"
      primary: "black"
      toggle:
        icon: "material/weather-sunny"
        name: "Switch to dark mode"

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: "slate"
      primary: "black"
      toggle:
        icon: "material/weather-night"
        name: "Switch to light mode"
extra_css:
  - "assets/extra.css"

extra:
  generator: true

markdown_extensions:
  - "admonition"
  - "toc":
      permalink: true
  - "attr_list"
  - "md_in_html"
  - "pymdownx.highlight":
      anchor_linenums: true
  - "pymdownx.inlinehilite"
  - "pymdownx.snippets"
  - "pymdownx.superfences"
  - "footnotes"
plugins:
  - "search"
  - "mkdocs-version-annotations"

nav:
  - Overview: "index.md"
  - Inventory:
      - Inventory Overview: "inventory/inventory.md"
      - Common Issues: "inventory/common_issues.md"
  - Processor Plugin: "processor/processor.md"
  - Task Plugin:
      - Task Overview: "task/task.md"
      - Troubleshooting:
          - "task/troubleshooting/index.md"
          - E1001: "task/troubleshooting/E1001.md"
          - E1002: "task/troubleshooting/E1002.md"
          - E1003: "task/troubleshooting/E1003.md"
          - E1004: "task/troubleshooting/E1004.md"
          - E1005: "task/troubleshooting/E1005.md"
          - E1006: "task/troubleshooting/E1006.md"
          - E1007: "task/troubleshooting/E1007.md"
          - E1008: "task/troubleshooting/E1008.md"
          - E1009: "task/troubleshooting/E1009.md"
          - E1010: "task/troubleshooting/E1010.md"
          - E1011: "task/troubleshooting/E1011.md"
          - E1012: "task/troubleshooting/E1012.md"
          - E1013: "task/troubleshooting/E1013.md"
          - E1014: "task/troubleshooting/E1014.md"
          - E1015: "task/troubleshooting/E1015.md"
          - E1016: "task/troubleshooting/E1016.md"
          - E1017: "task/troubleshooting/E1017.md"
          - E1018: "task/troubleshooting/E1018.md"
          - E1019: "task/troubleshooting/E1019.md"
          - E1020: "task/troubleshooting/E1020.md"
          - E1021: "task/troubleshooting/E1021.md"
          - E1022: "task/troubleshooting/E1022.md"
          - E1023: "task/troubleshooting/E1023.md"
          - E1024: "task/troubleshooting/E1024.md"
          - E1025: "task/troubleshooting/E1025.md"
          - E1026: "task/troubleshooting/E1026.md"
          - E1027: "task/troubleshooting/E1027.md"
  - Developer Guide:
      - Contributing: "dev/CONTRIBUTING.md"
      - Changelog: "dev/CHANGELOG.md"
      - Migration Guide 2.x -> 3.0: "dev/migrating_to_3.md"
  - Nautobot Docs Home ↗︎: "https://docs.nautobot.com/"
